.engage-introduction {
    display: flex;
    gap: 3rem;
}

.engage-introduction > div {
    min-width: 50%;
}

.engage-introduction > p {
    align-self: center;
    padding-left: 1rem;
}

.engage-introduction img {
    aspect-ratio: 4 / 1;
    object-fit: cover;
}

.engage-introduction h1 {
    font-size: 4rem;
    font-family: var(--font-patua);
}

.second-line {
    transform: translate(20%);
    padding-top: 0.5rem;
}
.third-line {
    transform: translate(35%);
    padding-top: 0.5rem;
}

.engage-info h2 {
    font-family: var(--font-roboto);
}

.info-cards {
    margin: 2rem 0;
}

@keyframes shadow-animation-1 {
    0% {
        text-shadow: none; 
    }
    50% {
        text-shadow: none; 
    }
    70% {
        text-shadow: 30px 30px 6px var(--color-aqua); 
    }
    100% {
        text-shadow: none; /* Fjerner skygge ved slutten av animasjonen */
    }
}

/* Animasjon for andre h1-element (blå farge) med en liten forsinkelse */
@keyframes shadow-animation-2 {
    0% {
        text-shadow: none; 
    }
    50% {
        text-shadow: none; 
    }
    70% {
        text-shadow: 30px 30px 6px var(--color-yellow); 
    }
    100% {
        text-shadow: none; /* Fjerner skygge ved slutten av animasjonen */
    }
}

/* Animasjon for tredje h1-element (grønn farge) med en litt større forsinkelse */
@keyframes shadow-animation-3 {
    0% {
        text-shadow: none; 
    }
    50% {
        text-shadow: none; 
    }
    70% {
        text-shadow: 30px 30px 6px var(--color-pink); 
    }
    100% {
        text-shadow: none; /* Fjerner skygge ved slutten av animasjonen */
    }
}

/* Bruk av animasjon basert på klassenavn */
.shadow-1 {
    animation: shadow-animation-1 12s infinite; /* Setter animasjonen for første h1-element */
}

.shadow-2 {
    animation: shadow-animation-2 12s infinite; /* Setter animasjonen for andre h1-element */
    animation-delay: 4s; 
}

.shadow-3 {
    animation: shadow-animation-3 12s infinite; /* Setter animasjonen for tredje h1-element */
    animation-delay: 8s; 
}



@media screen and (min-width: 768px) {
    .engage-info {
        display: grid;
        gap: 3rem;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    .first-item {
        grid-column: 2;
    }

    .second-item {
        grid-column: 1;
        grid-row: 1;
    }

    .fifth-item {
        grid-column: 2;
        grid-row: 3;
    }

    .engage-info img {
        padding: 5%;
    }   
}

@media screen and (max-width: 768px) {
.engage-introduction {
    flex-wrap: wrap;
    gap: 0;
}

.engage-introduction > div {
    place-self: center;
    justify-self: center;
    width: 100%;
}

.engage-introduction > p {
    margin-bottom: 3rem;
}
}