footer {
    width: 100%;
    background-color: black;
    color: white;
    /*margin-top: auto; Plasserer footer nederst */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 2rem 10rem;
    margin-top: 3rem;
}

footer h2 {
    font-size: 1.5rem;
}

.footer-links > a {
    display: block;
    padding: 1rem;
}

.footer-links > a:hover {
    color: var(--color-pink);
}