*, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    box-sizing: border-box;
    min-height: 100vh;
    margin: 0;
  }

  img {
    font-style: italic;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
  }