:root {
    --color-aqua: #00EBC7;
    --color-pink: #FF5470;
    --color-yellow: #FDE24F;
    --font-patua: "Patua One";
    --font-roboto: "Roboto Mono";
    --font-barlow: "Barlow Semi Condensed";
}