nav,
#nav-checkbox {
  display: none;
}

#nav-checkbox:checked ~ nav {
  display: block;
}

header {
  position: relative;
  width: 100%;
  font-family: var(--font-roboto);
}

.menu-button:hover {
  background-color: var(--color-yellow);
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.menu-button {
  width: fit-content;
  font-size: 1.5rem;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
}

.nav-bar > label {
  place-self: center;
}

.nav-bar :nth-child(1) {
  padding: 0.5rem 1rem;
}

nav {
  position: absolute;
  background-color: black;
  color: white;
}

nav a {
  display: block;
  padding: 2rem 5rem;
  border-bottom: 1px solid rgb(21, 21, 21);
  text-align: center;
  font-size: 1.2rem;
}

nav a:first-child {
  text-align: right;
  padding: 2rem 0;
  border-bottom: 0;
  font-size: 1.7rem;
  font-weight: bolder;
  font-size: 2rem;
}

nav a:last-child {
  border-bottom: 0;
}

.nav-list:hover {
  color: var(--color-yellow);
}

.logo {
  max-height: 7.5rem;
}

.primary-nav {
  padding: 0 2rem;
  margin: 0 -2rem;
  border-radius: 0 0 10px 0px;
  position: absolute;
  z-index: 1;
}

@media only screen and (min-width: 600px) {
  .nav-bar :nth-child(1) {
    margin: 1rem;
  }
}

@media only screen and (max-width: 600px) {
  .logo {
    max-height: 5.5rem;
  }
}

@media only screen and (max-width: 900px) {
  .logo {
    max-height: 6.5rem;
  }
}
